div.css-1788y8l.e1tzin5v0 {
    background-color: #2E3135;
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    text-align: center;
}


.rounded-image {
    border: 3px solid #2E3135; /* 2px black border */
    border-radius: 10px; /* 10px rounded corners */
}
